/* add css module styles here (optional) */

.imgPreview{
  width: 140px;
  height: 140px;
  margin-left: 15px;
}

.buttonContainer{
  position: absolute;
  bottom: 15px;
  left: 0;
  flex-direction: row;
}

.downButtonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 10px
}

.modalContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 15px;
  margin-top: 15px;
}

.closeButton{
  position: absolute;
  right: 20px;
  top: 100px;
}

.uploaderContainer{
  flex: 1;
  display: flex;

}
